<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИУ6-11М</title>
</head>
<body>
<h1>Отчет о выполнении лабораторной работы №4</h1>
<p><strong>Предметная область:</strong></p>
<p style="text-align: justify;">Спроектировать и реализовать сервис, управляющий сущностью "Новость", которая содержит заголовок, содержимое и, если есть, url на картинку. Каждая новость привязана к какому-то блогу. У каждой новости есть автор. Идентификатор новой новости должен генерироваться сервером.</p>
<p><strong>Задание: </strong></p>
<p>Необходимо реализовать следующие "ручки" сервиса:</p>
<ul>
<li>создание новой новости;</li>
<li>корректировка существующей новости;</li>
<li>удаление новости.</li>
</ul>
<p><strong>Уточнения:</strong></p>
<ul>
<li>можно считать что блоги и пользователи уже заданы в системе (можно заранее добавить их в базу вручную);</li>
<li>можно не реализовывать систему авторизации, а передавать просто идентификатор пользователя.</li>
</ul>
<p><strong><span style="color: #339966;"><a style="color: #339966;" href="{{ url_for('main') }}">Для проверки работоспособности сервиса пройдите по ссылке</a></span></strong></p>
</body>
</html>